body,
html,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;

  font-family: sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:100);

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.tooltip:hover {
  position: relative;
}

.tooltip:hover:after {
  background-color: rgba(0, 0, 0, 0.7);

  -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  color: white;
  font-size: 12px;
  content: attr(color);

  margin-bottom: 10px;
  top: 130%;
  left: 0;
  padding: 5px;
  position: absolute;
  width: auto;
  min-width: 40px;
  max-width: 300px;
  white-space: nowrap;

  z-index: 9999;
}
